.Lecturelist_container {
	margin: 20px auto;
	max-width: 1100px;
}

.button_box {
	text-align: right;
	margin-bottom: 5px;
}

.book_registration {
	height: 40px;
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid #ccc;
	background: #fff;
	color: #0C1D2E;
}

.bookdelete_btn {
	height: 40px;
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid #ccc;
	background: #c0c0c0;
	color: #fff;
}


.download_btn {
	height: 40px;
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid #ccc;
	background: #0C1D2E;
	color: #fff;
}

.toplist_table {
	width: 1100px;
}

.top_list {
	text-align: center;
	border-bottom: 1px solid #ccc;
	
}

.NoLecturelist_box {
	padding: 20px 0;
	text-align: center;
	width: 100%;
}

.registration_box {
	width:1100px;
	text-align: center;
	border-bottom: 1px solid #ccc;
}

.registration_box td {
	padding: 10px;
}

#LAllckeck {
	width: 80px;
}

#Lnumber {
	width: 120px;
}

#play-close {
	width: 150px;
}

.play_btn {
	height: 30px;
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid #ccc;
	background: #fff;
	color: #0C1D2E;
}

.close_btn {
	text-align:center;
	height: 30px;
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid #ccc;
	background: #ff0000;
	color: #fff;
}

#Lcount {
	width: 110px;
}

.Ldate {
	width: 190px;
}

.video-area {
	flex-direction:column;
	display: flex;
	justify-content: center;  
  	align-items: center; 
  	margin: 0 auto;
  	
}

.hidden {
	display: none !important;
}

.lessonVideo {
	width: 700px;
	height: 500px;
}

.bottombtn_box {
	text-align: right;
	margin-top: 5px;
	
}

#reg {
	height: 40px;
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid #ccc;
	background: #0C1D2E;
	color: #fff;
}

#delete {
	height: 40px;
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid #ccc;
	background: #c0c0c0;
	color: #fff;
}

#fix {
	height: 40px;
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid #ccc;
	background: #fff;
	color: #0C1D2E;
}

.hidden {
	/*display: none;*/
	display: block;
}