<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.booking.boot.mapper.Category2Mapper">
  	<select id="selectCategory" resultType="com.booking.boot.Dto.CategoryDto2" parameterType="int">
  		select * from category where parent_id  is null
  	</select>
  	<select id="findByParentId" resultType="com.booking.boot.Dto.CategoryDto2" parameterType="int">
    SELECT * FROM category
    WHERE parent_id = #{parent_id}
	</select>
  </mapper>