<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.booking.boot.mapper.CourseMapper">
  	<insert id="insertCourse">
  		insert into course(
        instructor_id, title, description,
        created_at, price, level, category_id, img
    ) VALUES (
        #{instructor_id}, #{title}, #{description},
        CURRENT_TIMESTAMP, #{price}, #{level}, #{category_id}, #{img}
    )
  	</insert>
  </mapper>