<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.booking.boot.mapper.IntructorMapper">
  	<select id="getList">
  		SELECT * FROM edudb.instructor
		join upload_file
		using (file_id)
  		
  	</select>
  	<select id="getTotalCount">
  		SELECT count(*) FROM edudb.instructor
		join upload_file
		using (file_id)
  	</select>
  	<insert id="insert">
  		insert into instructor ( img, word, name, file_id, category_id)
		values(#{img}, #{word}, #{name}, #{file_id}, #{category_id})
  	</insert>
  	<select id="findById" parameterType="int" resultType="com.booking.boot.Dto.IntructorDto">
        SELECT *
        FROM instructor
        WHERE instructor_id = #{instructor_id}
    </select>
    
    
  </mapper>